{% extends "base.html" %}
{% block content %}

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-24">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">We are a team dedicated to analyzing population statistics of not humans, but the dogs of Singapore. This project was inspired by fellow dog lovers in the community.</p>
                    <p class="aboutus-text">We welcome suggestions for better data analysis and visualisation. Do let us know what you want to see!</p>
                    <p class="aboutus-text">For interested parties, please reach out to us via github @tohtohro for collaboration opportunities.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}