{% extends "base.html" %}
{% block content %}


<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div>
                <h1>Doggo Survey</h1>
                <form method='post'>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name.label }}{{form.name}}
                    </p>
                    <p>
                        {{ form.breed.label }}{{form.breed}}
                    </p>
                    <br>
                    {{form.submit()}}
                </form>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="https://i.pinimg.com/originals/43/49/87/434987686bc807bdba64050a31ca66d1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


>


{% endblock %}





